:root {
	--font-color: #222;
	--background-color: #f5f5f7;
	--dash-color: #3b77ea;
	--button-color: #3b77ea;
}

[data-theme='dark'] {
	--font-color: #fff;
	--background-color: #1f1f1f;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	/* font-family: 'Noto Sans', sans-serif;
	font-family: 'Overpass Mono', monospace; */
	font-family: 'Poppins', sans-serif;
	color: var(--font-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	text-align: center;
}

/* ----------------- NAV BAR ----------------- */

.nav-container {
	width: 100%;
	height: 50px;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	display: grid;
	background-color: var(--background-color);
	grid-template-columns: auto 970px auto;
	font-size: 20px;
}

.nav-content-container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-edwardphan {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 21px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
}

.nav-edwardphan:visited,
.nav-pages:visited {
	color: var(--font-color);
}

.nav-edwardphan span {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	color: var(--dash-color);
}

.nav-pages {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-decoration: none;
}

.nav-darkmode {
	width: 75%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* ----------------- HOME ----------------- */

.home-container {
	display: grid;
	grid-template-columns: auto 970px auto;
	grid-template-rows: auto 50px;
	height: 95vh;
}

.home-content {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
	margin-top: -20%;
}

.home-gradient-text {
	font-family: 'Poppins', sans-serif;
	font-weight: black;
	font-size: 4rem;
	font-weight: 900;
	background-image: linear-gradient(45deg, #3b77ea, #9b42d4);
	background-size: auto;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-description-text {
	font-size: 2rem;
	margin-bottom: 50px;
}

.home-logo-container {
	grid-column-start: 2;
	grid-column-end: 3;
	height: 50px;
	width: 40%;
	display: inline-flex;
	justify-content: space-evenly;
}

.home-logo-container img {
	height: 100%;
}

.button-container {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.link {
	margin-left: 15px;
	margin-right: 15px;
}

.homepage-button button {
	width: 250px;
	height: 50px;
	color: var(--button-color);
	border-radius: 18px;
	border: 1px solid #3b77ea;
	background-color: transparent;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: 1.2rem;
	margin-top: 40px;
}

.homepage-button button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.homepage-button button:active {
	background-color: #0071e3;
}

footer {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

/* ----------------- PROJECTS ----------------- */

.projects-container {
	display: grid;
	grid-template-columns: auto 1200px auto;
	height: 95vh;
}

.projects-content {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
}

.projects-page-title {
	font-size: 2rem;
}

.projects-page-title span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--dash-color);
}

.projects-container-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}

.project-ecommerce,
.project-reddit,
.project-personalwebsite {
	border-radius: 18px;
	background-color: #ffffff;
	height: 550px;
	display: grid;
	grid-template-rows: 100px 350px 100px;
	font-size: 1.2rem;
}

.project-ecommerce img,
.project-reddit img,
.project-personalwebsite img {
	width: 100%;
	grid-row-start: 2;
	grid-row-end: 3;
}

.project-button button {
	color: var(--button-color);
	border-radius: 18px;
	border: 1px solid #3b77ea;
	background-color: #fff;
	grid-row-start: 3;
	grid-row-end: 4;
	font-size: 1.2rem;
	text-decoration: none;
	width: 70%;
	height: 50%;
	place-self: center;
}

.project-button p {
	place-self: center;
	font-size: 1rem;
}

.project-button button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.project-button button:active {
	background-color: #0071e3;
}

/* ----------------- ECOMMERCE PROJECT ----------------- */

.project-container {
	display: grid;
	grid-template-columns: auto 1200px auto;
	grid-template-rows: 100px 500px auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.project-title {
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 2rem;
}

.project-title span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--dash-color);
}

.image-container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
}

.image-container img {
	width: 100%;
}

.project-text {
	grid-column-start: 2;
	grid-column-end: 3;
	border-radius: 18px;
	background-color: #ffffff;
	text-align: start;
	padding-left: 15px;
}

/* ----------------- ABOUT ----------------- */

.about-container {
	display: grid;
	grid-template-columns: auto 970px auto;
	height: 95vh;
}

.about-content {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
}
.about-title {
	font-size: 2rem;
}

.about-title span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--dash-color);
}

.about-content p {
	font-size: 1.2rem;
	text-align: left;
}

.about-content h3 {
	font-weight: bold;
	font-size: 1.4rem;
}

/* ----------------- DARK MODE SWITCH ----------------- */

.form-switch {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.form-switch i {
	position: relative;
	display: inline-block;
	margin-right: 0.5rem;
	width: 46px;
	height: 26px;
	background-color: #e6e6e6;
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
}

.form-switch i::before {
	content: '';
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
}

.form-switch i::after {
	content: '';
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
	width: 28px;
	transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
	transform: translate3d(16px, 2px, 0);
}

.form-switch input {
	display: none;
}

.form-switch input:checked + i {
	background-color: #4bd763;
}

.form-switch input:checked + i::before {
	transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
	transform: translate3d(22px, 2px, 0);
}
