/* ----------------- HOME ----------------- */

.home-container {
	display: grid;
	grid-template-columns: auto minmax(0, 970px) auto;
	align-items: center;
	margin-top: 50px;
}

.home-content {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: auto auto auto auto;
}

.home-text {
	justify-self: center;
	grid-row-start: 1;
	grid-row-end: 2;
}

.home-gradient-text {
	font-family: 'Poppins', sans-serif;
	font-weight: black;
	font-size: 4rem;
	font-weight: 900;
	background-image: linear-gradient(45deg, #3b77ea, #9b42d4);
	background-size: auto;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-description-text {
	font-size: 2rem;
}

.home-logo-container {
	grid-row-start: 2;
	grid-row-end: 3;
	max-width: 540px;
	min-width: 300px;
	justify-self: center;
	display: flex;
	justify-content: space-evenly;
	margin: 20px;
}

.home-logo-container img {
	height: 50px;
}

.button-container {
	max-width: 540px;
	grid-gap: 20px;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.homepage-button button {
	width: 250px;
	height: 50px;
	color: var(--button-color);
	border-radius: 10px;
	border: 1px solid #3371db;
	background-color: #3371db;
	font-size: 1.1rem;
	font-weight: bold;
	color: #fff;
}

.homepage-button button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.homepage-button button:active {
	background-color: #0071e3;
}

footer {
	grid-column-start: 2;
	grid-column-end: 3;
}
