/* ----------------- PROJECTS ----------------- */

.projects-page-container {
	display: grid;
	grid-template-columns: auto minmax(250px, 850px) auto;
	grid-template-rows: 80px;
	grid-auto-rows: auto;
	grid-gap: 40px;
	margin-top: 50px;
}

.projects-page-title {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 2rem;
}

.projects-page-title span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #3371db;
}

.projects-container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
}

.projects-content {
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	grid-template-rows: 80px 120px 100px;
	text-align: start;
}

.projects-name {
	height: 60px;
	font-size: 1.7rem;
}

.projects-content-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-self: center;
}

.projects-button button {
	border-radius: 10px;
	border: 1px solid #3371db;
	background-color: #3371db;
	width: 135px;
	height: 50px;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	margin-right: 15px;
}

.projects-button button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.projects-button button:active {
	background-color: #0071e3;
}

.projects-live-button button {
	border-radius: 10px;
	border: 1px solid #3371db;
	background-color: transparent;
	width: 135px;
	height: 50px;
	color: #3371db;
	font-size: 1.1rem;
	font-weight: bold;
}

.projects-live-button button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.projects-live-button button:active {
	background-color: #0071e3;
}

.projects-icons {
	grid-column-start: 3;
	grid-column-end: 5;
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

.projects-icons img {
	height: 35px;
}

.projects-picture {
	grid-column-start: 4;
	grid-column-end: 6;
}

.projects-picture img {
	height: 295px;
}

@media only screen and (max-width: 800px) {
	.projects-container {
		grid-column-start: 2;
		grid-column-end: 3;
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		padding: 30px;
	}

	.projects-name {
		height: 60px;
		font-size: 1.7rem;
		text-align: center;
	}

	.projects-name p {
		text-align: start;
	}

	.projects-content-bottom {
		display: grid;
		grid-template-rows: auto auto;
		margin-top: 15px;
	}

	.projects-button {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.projects-live-button-dark,
	.projects-live-button {
		grid-column-start: 3;
		grid-column-end: 4;
	}

	.projects-button button {
		border-radius: 10px;
		border: 1px solid #3371db;
		background-color: #3371db;
		width: 135px;
		height: 50px;
		color: #fff;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.projects-live-button button {
		border-radius: 10px;
		border: 1px solid #3371db;
		background-color: transparent;
		width: 135px;
		height: 50px;
		color: #3371db;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.projects-icons {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 4;
		display: flex;
		justify-content: space-evenly;
		align-self: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.projects-picture {
		width: 100%;
		justify-self: center;
	}
}

/* --------- DARK MODE --------- */

.projects-page-container-dark {
	display: grid;
	grid-template-columns: auto minmax(350px, 850px) auto;
	grid-template-rows: 80px;
	grid-auto-rows: auto;
	grid-gap: 40px;
	margin-top: 50px;
}

.projects-container-dark {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: #1f1f33;
	border-radius: 10px;
	padding-left: 30px;
	color: rgba(255, 255, 255, 0.87);
}

.projects-live-button-dark button {
	border-radius: 10px;
	border: 1px solid #3371db;
	background-color: transparent;
	width: 135px;
	height: 50px;
	color: rgba(255, 255, 255, 0.87);
	font-size: 1.1rem;
	font-weight: bold;
}

.projects-live-button-dark button:hover {
	background-color: #3b77ea;
	color: #fff;
}

.projects-live-button-dark button:active {
	background-color: #0071e3;
}

@media only screen and (max-width: 800px) {
	.projects-container-dark {
		grid-column-start: 2;
		grid-column-end: 3;
		background-color: #1f1f33;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		padding-right: 30px;
		color: rgba(255, 255, 255, 0.87);
	}
}
